:root {
  --black: #2d2d2d;
  --bg: #f6f9fb;
  --stroke: #ddedf4;
  --stroke-subtle: #2D2D2D4D;
  --accent: #3cb2e4;
  --accent-bg: #3CB2E41A;
  --green: #30d869;
  --green-bg: #EBFCEC;
  --red: #E4783C;
  --red-bg: #FAEEE8;
}
