.contractsContainer {
  max-width: 1164px;
  margin: 0 auto;
}

.contractsHeader {
  color: var(--black);
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0.44px;
}

.contractsBody {
  padding: 27px 30px;
  border: solid 1px var(--stroke);
  border-radius: 9px;
  background-color: #ffffff;
}

.contractsBody_items {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: flex-start; /* in case there are too many rooms and they span across two lines */
  padding-top: 20px;
  gap: 26px;
}

.contractsInput_container {
  position: relative;
  display: flex;
  max-width: 289px;
  align-items: center;
}

.contactsInput {
  height: 46px;
  flex: 1;
  align-items: center;
  padding: 13px 31px 13px 15px;
  border: solid 1px var(--stroke-subtle);
  border-radius: 7px;
}

.contactsInput::placeholder {
  color: #d6d6d6;
  font-size: 14px;
}

.contractsInput_icon {
  position: absolute;
  right: 0;
  width: 16.67px;
  height: 16.67px;
  margin: 0 14.33px;
}
